.Cart{
    height: 100%;
    width: 100%;
    /* background: black; */
   
}
.CartNone{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
    justify-content: center;

    & h3{
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: 20px;
        color: rgb(159, 108, 15);
    }
}
.CartMainHeader{
    height: 10%;
    width: 100%;
    /* background: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.clearOrder{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right:3px;

    & button{
        height: 36px;
        width: 90px;
        border-radius: 40px;
        border: none;
        background: rgb(253, 165, 0);
        transition: all 350ms ease;
    }

    & button:hover{
        cursor: pointer;
        color: white;
        background-color: rgb(255, 42, 0);
        transition: all 350ms ease;
    }
}
.QandTotal{
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    gap: 20px;
    padding-left: 4px;

    & p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20p;
    }
}
.MainCartBody{
    height: 81%;
    width: 100%;
    background: rgb(216, 208, 208);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.Footer{
    height: 9%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 4px;
    
    & button{
        height: 36px;
        width: 160px;
        border-radius: 40px;
        border: none;
        font-size: 14px;
        background: rgb(253, 165, 0);
        transition: all 350ms ease;
    }

    & button:hover{
        cursor: pointer;
        color: white;
        background-color: green;
        transition: all 350ms ease;
    }
}